@import "tailwindcss";

/* TildaSans Font Family */
@font-face {
  font-family: "TildaSans";
  src: url("../fonts/TildaSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TildaSans";
  src: url("../fonts/TildaSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TildaSans";
  src: url("../fonts/TildaSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TildaSans";
  src: url("../fonts/TildaSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TildaSans";
  src: url("../fonts/TildaSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TildaSans";
  src: url("../fonts/TildaSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TildaSans";
  src: url("../fonts/TildaSans-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "TildaSans", sans-serif;
  scroll-behavior: smooth;
}

@theme {
  --color-blue-500: #0066ff;
  --color-blue-600: #0f5ae0;
  --color-blue-700: #124fc2;
  --radius-lg: 10px;
  --radius-2xl: 20px;
  --text-4xl: 45px;
  --text-5xl: 50px;
  --color-white: #fff;
  --color-gray-500: #fafcff;
  --color-gray-600: #646464;
  --color-gray-300: #eff1f5;
  --color-orange-500: #ff8562;
}

a {
  color: inherit;
  text-decoration: none;
}
input::placeholder {
  color: #8f8f8f;
}

button {
  cursor: pointer;
  transition: all 0.4s ease;
}

.ant-input,
.ant-input-affix-wrapper {
  padding: 8px;
}
